header {
    background-color: #E1D7C6;
    color: #579BB1;
    width: 100%;
    height: 200px;
}
body {
    background-color: #ECE8DD;
}
footer {
    background-color: #E1D7C6;
    color: #579BB1;
    width: 100%;
    height: 200px;
}
#table1 {
    background-color: #FFFFFF;
}
#table2 {
    background-color: #FFCCFF;
    }
#table3 {
    background-color: #FF99FF;
}
#table4 {
    background-color: #FF66FF;
}
#table5 {
    background-color: #FFFFCC;
}
#table6 {
    background-color: #FFCCCC;
    }
#table7 {
    background-color: #FF99CC;
}
#table8 {
    background-color: #FF66CC;
}
#table9 {
    background-color: #FFFF99;
}
#table10 {
    background-color: #FFCC99;
    }
#table11 {
    background-color: #FF9999;
}
#table12 {
    background-color: #FF6699;
}
#table13 {
    background-color: #FFFF66;
}
#table14 {
    background-color: #FFCC66;
    }
#table15 {
    background-color: #FF9966;
}
#table16 {
    background-color: #FF6666;
}
#image1 {
    background-color: #FFCCFF;
    width: 50px;
    height: 50px;
}
#image2 {
    background-color: #FF66FF;
    width: 50px;
    height: 50px;
}
#image3 {
    background-color: #FF66FF;
    width: 50px;
    height: 50px;
}
#image4 {
    background-color: #FF66FF;
    width: 50px;
    height: 50px;
}
#image5 {
    background-color: #FF66FF;
    width: 50px;
    height: 50px;
}
#image6 {
    background-color: #FF66FF;
    width: 50px;
    height: 50px;
}
#image7 {
    background-color: #FF66FF;
    width: 50px;
    height: 50px;
}
#image8 {
    background-color: #FF66FF;
    width: 45px;
    height: 45px;
}